<a href="https://colab.research.google.com/github/jelly12paw/Algorithm/blob/main/SWEA/SWEA_%EA%B8%B0%EC%B4%88_%EB%AC%B8%EC%A0%9C_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SWEA 파이썬 기초 문제 풀이

- 1288, 1989, 1976, 1926

In [25]:
# 1288
# 이전에 셌던 번호들의 각 자리수에서 0에서 9까지의 모든 숫자를 보는 것은 최소 몇 번 양을 센 시점일까?

a = int(input())

for i in range(1, a + 1) :
  num = int(input())
  nums = [0] * 10

  cnt = 0
  while True :
    if 0 not in nums :
      break

    else :
      cnt += 1
      number = str(num * cnt)

      for o in range(len(number)) :
        nums[int(number[o])] = 1

  print('#{} {}'.format(i, number))

5
1
#1 10
2
#2 90
11
#3 110
1295
#4 6475
1692
#5 5076

In [26]:
# 1989
# 단어를 입력 받아 회문이면 1을 출력하고, 아니라면 0을 출력하는 프로그램을 작성하라.

a = int(input())

for i in range(1, a + 1) :
  word = input()

  if word == word[ : : -1] :
    result = 1

  else :
    result = 0

  print(f'#{i} {result}')

3
level
#1 1
samsung
#2 0
eye
#3 1

In [30]:
# 1976
# 시 분으로 이루어진 시각을 2개 입력 받아, 더한 값을 시 분으로 출력하는 프로그램을 작성하라.

a = int(input())

for i in range(1, a + 1) :
  H, M, h, m = map(int, input().split())
  
  hour = H + h if H + h < 13 else (H + h) - 12
  
  if M + m < 60 :
    min = M + m

  else :
    min = (M + m) - 60
    hour += 1

  print(f'#{i} {hour} {min}')

3
3 17 1 39
#1 4 56
8 22 5 10
#2 1 32
6 53 2 12
#3 9 5

In [44]:
# 1926
# 숫자 1부터 순서대로 차례대로 말하되, “3” “6” “9” 가 들어가 있는 수는 말하지 않는다.

tsn = ['3', '6', '9']
a = int(input())

for i in range(1, a + 1) :
  cnt = 0

  for o in str(i) :
    if o in tsn :
      cnt += 1

  if cnt != 0 :
    i = '-' * cnt

  print(i, end=' ')

133
1 2 - 4 5 - 7 8 - 10 11 12 - 14 15 - 17 18 - 20 21 22 - 24 25 - 27 28 - - - - -- - - -- - - -- 40 41 42 - 44 45 - 47 48 - 50 51 52 - 54 55 - 57 58 - - - - -- - - -- - - -- 70 71 72 - 74 75 - 77 78 - 80 81 82 - 84 85 - 87 88 - - - - -- - - -- - - -- 100 101 102 - 104 105 - 107 108 - 110 111 112 - 114 115 - 117 118 - 120 121 122 - 124 125 - 127 128 - - - - --