<a href="https://colab.research.google.com/github/jelly12paw/Algorithm/blob/main/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%EC%8A%A4%ED%84%B0%EB%94%94/1%EC%9D%BC%EC%B0%A8_No_1_~_No_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BOJ 2577 숫자의 개수

In [2]:
# 세 개의 자연수 입력받기
a = int(input())
b = int(input())
c = int(input())

# a * b * c를 곱한 값을 문자열로 변환
abc = str(a * b * c)

# abc 값에 쓰인 숫자 0 ~ 9까지의 개수를 셀 리스트
abc_count = [0] * 10

# 문자열 abc를 하나씩 꺼내어 인덱스번호와 숫자가 같은 위치에 
# 해당 숫자가 나올 때마다 1씩 더하기
for i in abc :
  abc_count[int(i)] += 1

# 리스트에 저장된 값을 하나씩 출력
for j in abc_count :
  print(j)

150
266
427
3
1
0
2
0
0
0
2
0
0

## BOJ 2908 상수

In [6]:
# 세 자리 수 두 개 입력받기
a, b = map(int, input().split())

# 세 자리 수 a, b를 문자열로 변환하여 역순으로 만들기
a = str(a)[::-1]
b = str(b)[::-1]

# a, b를 정수형으로 변환하여 두 수 중 큰 값을 출력
print(max(int(a), int(b)))

734 893
437

## BOJ 8958 OX퀴즈

In [35]:
# 입력된 숫자만큼 테스트 케이스 실행
for _ in range(int(input())) :
  # OX퀴즈 결과 입력받기
  ox = input()
  
  # OX퀴즈 점수 합계
  score_sum = []
  # OX퀴즈 점수 구할 값
  score = 0
  # OX퀴즈 결과값을 하나씩 꺼내기
  for i in ox :
    # O가 연속으로 나오면 score 값을 1씩 증가 후 리스트에 저장
    if i == 'O' :
      score += 1
      score_sum.append(score)
      
    # X면 score 값을 0으로 변경 후 리스트에 저장
    else :
      score = 0
      score_sum.append(score)
      
  # 리스트에 저장된 수의 합계를 출력
  print(sum(score_sum))

1
OOXXOXXOOO
10

## BOJ 1000 A+B

In [3]:
# 두 정수를 입력받기
a, b = map(int, input().split())

# 두 정수의 합을 출력
print(a+b)

1 2
3

## BOJ 2558 A+B - 2

In [ ]:
# 두 정수를 입력받기
a = int(input())
b = int(input())

# 두 정수의 합을 출력하기
print(a + b)

## BOJ 10950 A+B - 3

In [ ]:
# 입력받은 수만큼 테스트 케이스 실행
for _ in range(int(input())) :
  # 두 정수를 입력받기
  a, b = map(int, input().split())

  # 입력받은 두 정수의 합을 출력
  print(a + b)

## BOJ 10953 A+B - 6

In [4]:
# 입력받은 수만큼 테스트 케이스 실행
for _ in range(int(input())) :
  # 두 정수를 쉼표(,)로 구분하여 입력받기
  a, b = map(int, input().split(','))

  # 입력받은 두 정수의 합을 출력
  print(a + b)

1
1, 1
2

## BOJ 2438 별 찍기 - 1

In [5]:
# 1부터 입력받은 정수만큼 별(*)의 개수를 증가하여 출력
for i in range(1, int(input())+1) :

  print('*' * i)

5
*
**
***
****
*****

## BOJ 2439 별 찍기 - 2

In [6]:
# 정수 입력받기
n = int(input())

# 1부터 입력받은 정수만큼 별(*)의 개수를 증가하기
for i in range(1, n + 1) :

  # 오른쪽정렬로 출력하기
  print(' ' * (n - i) + '*' * i)

5
    *
   **
  ***
 ****
*****

## BOJ 10995 별 찍기 - 20

In [13]:
# 정수 입력받기
n = int(input())

# 입력받은 정수가 1이면 '*' 한 개만 출력
if n == 1 :
  print('*')

# 입력받은 정수가 2 이상이면
else :
  # 입력받은 정수만큼 반복
  for i in range(n) :
    # 홀수 번째 줄에는 별(*)과 공백(' ') 순서대로 n번 반복해서 출력
    if i % 2 == 0 :
      print('* ' * n)
    # 짝수 번째 줄에는 공백(' ')과 별(*) 순서대로 n번 반복해서 출력
    else :
      print(' *' * n)

5
* * * * *
 * * * * *
* * * * *
 * * * * *
* * * * *

## BOJ 1330 두 수 비교하기

In [24]:
# 두 정수 입력받기
a, b = map(int, input().split())

# a가 b보다 큰 경우에는 '>' 출력
if a > b :
  print('>')
# a가 b보다 작은 경우에는 '<' 출력
elif a < b :
  print('<')
# a와 b가 같은 경우에는 '==' 출력
else :
  print('==')

1 2
<

## BOJ 9498 시험 성적

In [16]:
# 시험 점수 입력받기
n = int(input())

# 입력받은 점수가 90 ~ 100점이면 A
if n >= 90 :
  print('A')
  
# 입력받은 점수가 80 ~ 89점이면 B
elif n >= 80  :
  print('B')

# 입력받은 점수가 70 ~ 79점이면 C
elif n >= 70 :
  print('C')

# 입력받은 점수가 60 ~ 69점이면 D
elif n >= 60 :
  print('D')

# 그 외의 점수는 F
else :
  print('F')

70
C

## BOJ 2753 윤년

In [31]:
# 연도 입력받기
n = int(input())

# 윤년은 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수
# 연도가 윤년이면 1을 출력
if n % 4 == 0 and n % 100 != 0 or n % 400 == 0 :
  print(1)
# 윤년이 아니면 0을 출력
else :
  print(0)

2012
1

## BOJ 14681 사분면 고르기

In [33]:
# x좌표, y좌표 입력받기
x = int(input())
y = int(input())

# x, y 모두 양수이면 제 1사분면
if x > 0 and y > 0 :
  print(1)
# x 음수, y 양수이면 제 2사분면
elif x < 0 and y > 0 :
  print(2)
# x, y 모두 음수이면 제 3사분면
elif x < 0 and y < 0 :
  print(3)
# x 양수, y 음수이면 제 4사분면
else :
  print(4)

12
5
1

## BOJ 2739 구구단

In [34]:
# 정수 입력받기
n = int(input())

# 입력받은 정수의 구구단 출력
for i in range(1, 10) :
  print(f'{n} * {i} = {n * i}')

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18