<a href="https://colab.research.google.com/github/jelly12paw/Algorithm/blob/main/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%EC%8A%A4%ED%84%B0%EB%94%94/2%EC%9D%BC%EC%B0%A8_No_16_~_No_30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## BOJ 8393 합

In [1]:
# 1부터 n값까지의 합을 세기
sum_n = 0

# n 입력받기
for i in range(1, int(input())+1) :
  sum_n += i

print(sum_n)

3
6

## BOJ 2741	N 찍기

In [2]:
# 1부터 n까지의 수를 하나씩 출력
for i in range(1, int(input())+1) :
  print(i)

5
1
2
3
4
5

## BOJ 2742	기찍 N

In [7]:
# n부터 1까지의 수를 하나씩 출력
for i in range(int(input()), 0, -1) :
  print(i)

5
5
4
3
2
1

## BOJ 11021	A+B - 7

In [10]:
# 입력된 숫자만큼 테스트 케이스 실행
for num in range(1, int(input())+1) :

  # 두 정수 a, b 입력받기
  a, b = map(int, input().split())

  print(f'Case #{num}: {a + b}')

1
9 8
Case #1: 17

## BOJ 11022	A+B - 8

In [11]:
# 입력된 숫자만큼 테스트 케이스 실행
for num in range(1, int(input())+1) :

  # 두 정수 a, b 입력받기
  a, b = map(int, input().split())

  print(f'Case #{num}: {a} + {b} = {a + b}')

2
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5

## BOJ 10952	A+B - 5

In [13]:
while True :  
  
  # 두 정수 a, b 입력받기
  nums = list(map(int, input().split()))

  print(sum(nums))

  # 0 0이 입력되면 반복문 종료
  if nums == [0, 0] :
    break

1 1
2
2 3
5
5 2
7
0 0
0

## BOJ 10871	X보다 작은 수

In [15]:
# 수열을 이루는 정수 n개와 기준 수 x 입력
n, x = map(int, input().split())

# 수열을 리스트로 입력
nums = list(map(int, input().split()))

# 수열 리스트 안의 숫자 중 x보다 작은 수만 출력
for i in nums :
  if i < x :
    print(i, end=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

## BOJ 2480	주사위 세개

In [19]:
# 주사위 세 개의 눈
a, b, c = map(int, input().split())

# 같은 눈이 3개가 나오면 10,000원+(같은 눈)×1,000원의 상금
if a == b == c :
  print(10000 + (a * 1000))

# 같은 눈이 2개만 나오는 경우에는 1,000원+(같은 눈)×100원의 상금
elif a == b or a == c :
  print(1000 + (a * 100))

elif b == c :
  print(1000 + (b * 100))

# 모두 다른 눈이 나오는 경우에는 (그 중 가장 큰 눈)×100원의 상금
else :
  print(max(a, b, c) * 100)

2 2 3
1200

## BOJ 1065	한수

In [2]:
# 1부터 n까지 숫자 중 자기 자신의 수가 한수인지 판별하여 한수면 1씩 증가
# 한 자리 수와 두 자리 수는 각 자리의 숫자들끼리 비교할 대상이 없기때문에 한수이다.

# 한수의 개수 세기
hansu = 0

# 1부터 입력받은 숫자까지 하나씩 꺼내기
for i in range(1, int(input())+1) :
  # 자기 자신의 수가 한 자리, 두 자리의 수라면 한수이기에 1씩 더한다
  if i < 100 :
    hansu += 1

  # 자기 자신의 수가 세 자리 이상의 수라면 등차수열인지 확인
  else :
    # 각 자리의 수를 분리하여 리스트로 만들기
    ruhansu = list(map(int, str(i)))
    # 각 자리 수와 그 다음 자리 수의 차가 같으면 한수이기에 1씩 더한다
    if ruhansu[0] - ruhansu[1] == ruhansu[1] - ruhansu[2] :
      hansu += 1

print(hansu)

110
99

## BOJ 1110	더하기 사이클

In [23]:
# 정수 입력
num = int(input())

# 사이클 횟수 세기
cnt = 1

# 사이클을 반복하면서 만들어지는 수와 정수 num이 같아지는 것을 구하기
stop_num = num


while True :
  # num의 1의 자리 숫자
  num_1 = num % 10
  # num의 10의 자리 숫자
  num_10 = num // 10
  # 각 자리 수를 더한 값의 1의 자리 숫자
  new_num_1 = (num_1 + num_10) % 10
  # 새로운 정수의 값
  num = num_1 * 10 + new_num_1
  
  # 사이클로 만들어진 새로운 정수의 값과 입력받은 정수의 값이 같으면 중단
  if stop_num == num :
    print(cnt)
    break

  # 사이클 횟수를 세기
  else :
    cnt += 1

26
4

## BOJ 10818	최소, 최대

In [24]:
# n개의 정수 입력
n = int(input())

# 정수의 리스트 입력
nums = list(map(int, input().split()))

# 최소값, 최대값
print(min(nums), max(nums))

5
20 10 35 30 7
7 35

## BOJ 2609	최대공약수와 최소공배수

In [31]:
# 최대공약수
from math import gcd

# 두 수 입력받기
a, b = map(int, input().split())

print(gcd(a, b))
# 최소공배수
print(a * b // gcd(a, b))

24 18
6
72

## BOJ 2231	분해합

In [50]:
# 분해합 n을 입력
n = int(input())

# 분해합의 생성자를 찾기위해 숫자를 하나씩 찾기
for num in range(n) :
  # 숫자의 각 자리 수의 합
  sum_num = sum(map(int, str(num)))
  # 분해합은 자신의 숫자 + 자신의 각 자리 수의 합 
  bunhae = num + sum_num

  # 입력한 분해합과 생성자를 찾기위한 분해합이 같으면
  if bunhae == n :
    # 첫 번째로 찾은 자신의 수를 출력하고 중단
    print(num)
    break

# 생성자가 없다면 0을 출력
else :
  print(0)

216
198

## BOJ 2846	오르막길

In [43]:
# 오르막길 높이의 수
n = int(input())

# 오르막길에 대한 수열
orumak = list(map(int, input().split()))
# 오르막길 높이를 세기
height = 0
# 오르막길들만 담을 리스트
hill = []

# 길의 순서대로 다음번째 길의 언덕과 현재 언덕의 차가 양수면 오르막
for i in range(len(orumak) - 1) :
  if orumak[i+1] - orumak[i] > 0 :
    # 오르막이 계속 이어지면 그 높이를 더해주기
    height += orumak[i+1] - orumak[i]
    # 리스트에 오르막의 높이를 저장
    hill.append(height)

  # 내리막이 나오면 높이의 값을 0으로 초기화
  else :
    height = 0

# 내리막길만 있었다면 0을 출력
if hill == [] :
  print(0)

# 언덕 높이가 저장된 리스트에서 가장 높은 값 출력
else :
  print(max(hill))

8
12 20 1 3 4 4 11 1
[8, 2, 3, 7]
8

## BOJ 2953	나는요리사다

In [44]:
# 각 참가자가 받은 점수의 합 리스트
scores = []

# 5명의 참가자가 받은 점수 입력
for _ in range(5) :
  # 점수의 합을 리스트에 저장
  scores.append(sum(map(int, input().split())))

# 가장 높은 점수를 받은 참가자의 번호와 그 점수를 출력
print(scores.index(max(scores))+1, max(scores))

5 4 4 5
5 4 4 4
5 5 4 4
5 5 5 4
4 4 4 5
4 19