<a href="https://colab.research.google.com/github/jelly12paw/Algorithm/blob/main/CodeUp/Python_%EA%B8%B0%EC%B4%88100%EC%A0%9C_6084_~_6098.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CodeUp Python 기초 100제

## 6084번 ~ 6098번 문제풀이

In [1]:
# 6084번
# h, b, c, s 가 공백을 두고 입력, h는 48,000이하, b는 32이하(단, 8의배수), c는 5이하, s는 6,000이하의 자연수
# 필요한 저장 공간을 MB 단위로 바꾸어 출력하기

h, b, c, s = map(int, input().split())

print(round(h * b * c * s / 8 / 1024 / 1024, 1), 'MB')

44100 16 2 10
1.7 MB

In [3]:
# 6085번
# w, h, b 가 공백을 두고 입력, 단, w, h는 모두 정수이고 1~1024 이다. b는 40이하의 4의 배수
# 필요한 저장 공간을 MB 단위로 바꾸어 출력하기

w, h, b = map(int, input().split())

image = w * h * b / 8 / 1024 / 1024

print('%.2f' %image, 'MB')

1024 768 24
2.25 MB

In [9]:
# 6086번
# 1, 2, 3 ... 을 순서대로 계속 더해 합을 만드는데, 그 합이 입력한 정수보다 작을 동안만 계속 더하는 프로그램을 작성하기

a = int(input())
b = 0
sum = 0

while True :
  b += 1
  sum += b

  if sum >= a :
    break
  
print(sum)

57
66

In [10]:
# 6087번
# 1부터 입력한 정수까지 1씩 증가시켜 출력하는 프로그램을 작성하되, 3의 배수인 경우는 출력하지 않기

a = int(input())

for i in range(1, a + 1) :
  if i % 3 == 0 :
    
    continue

  print(i, end=' ')

10
1 2 4 5 7 8 10

In [13]:
# 6088번
# 시작 값(a), 등차(d), 몇 번째인지를 나타내는 정수(n)가 입력될 때 n번째 수를 출력하기

a, d, n = map(int, input().split())

result = a + (d * (n - 1))

print(result)

1 3 5
13

In [21]:
# 6089번
# 시작 값(a), 등비(r), 몇 번째인지를 나타내는 정수(n)가 입력될 때 n번째 수를 출력하기

a, r, n = map(int, input().split())

result = (a * (r ** (n - 1)))

print(result)

2 3 7
1458

In [3]:
# 6090번
# 시작 값(a), 곱할 값(m), 더할 값(d), 몇 번째인지를 나타내는 정수(n)가 입력될 때, n번째 수를 출력하기

a, m, d, n = map(int, input().split())

for i in range(1, n) :
  
  a = a * m + d

print(a)

1 -2 1 8
-85

In [11]:
# 6091번
# 같은 날 동시에 가입한 인원 3명이 규칙적으로 방문하는, 방문 주기가 공백을 두고 입력하기

a, b, c = map(int, input().split())

d = 1
while d % a != 0 or d % b != 0 or d % c != 0 :
  d += 1
  
print(d)

3 7 9
63

In [19]:
# 6092번
# 첫 번째 줄에 출석 번호를 부른 횟수인 정수 n이 입력된다. (1 ~ 10000)
# 두 번째 줄에는 무작위로 부른 n개의 번호(1 ~ 23)가 공백을 두고 순서대로 입력

n = int(input())
a = list(map(int, input().split()))
d = []

for i in range(24) : 
  d.append(0)

for i in range(n) : 
  d[a[i]] += 1

for i in range(1, 24) : 
  print(d[i], end=' ')

10
1 3 2 2 5 6 7 4 5 9
1 2 1 1 2 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [22]:
# 6093번
# 출석 번호를 n번 무작위로 불렀을 때, 부른 번호를 거꾸로 출력하기

n = int(input())
a = list(map(int, input().split()))

for i in range(n - 1, -1, -1) :
  
  print(a[i], end=' ')

10
10 4 2 3 6 6 7 9 8 5
5 8 9 7 6 6 3 2 4 10

In [24]:
# 6094번
# 출석 번호를 n번 무작위로 불렀을 때, 가장 빠른 번호를 출력하기

n = int(input())
a = list(map(int, input().split()))

small_num = sorted(a)

print(small_num[0])

10
10 4 2 3 6 6 7 9 8 5
2

In [26]:
# 6095번
# 바둑판(19 * 19)에 n개의 흰 돌을 놓는다고 할 때, n개의 흰 돌이 놓인 위치를 출력하기

d = []

for i in range(20) :
  d.append([])

  for j in range(20) :
    d[i].append(0)

n = int(input())

for i in range(n) :
  a, b = input().split()
  d[int(a)][int(b)] = 1

for i in range(1, 20) :
  for j in range(1, 20) :

    print(d[i][j], end=' ')
  print()

5
1 1
2 2
3 3
4 4
5 5
1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [33]:
# 6096번
# 바둑판(19 * 19)에 흰 돌(1) 또는 검정 돌(0)이 모두 꽉 채워져 놓여있을 때,
# n개의 좌표를 입력받아 십(+)자 뒤집기한 결과를 출력하기

d = []

for i in range(20) :
  d.append([])

  for j in range(20) :
    d[i].append(0)

n = int(input())

for i in range(n) :

    x, y = map(int, input().split())
    x -= 1
    y -= 1
  
    for j in range(20) :
       
        if d[j][y] == 0 :
            d[j][y] = 1
      
        else:
            d[j][y] = 0

        if d[x][j] == 0 :
            d[x][j] = 1
      
        else:
            d[x][j] = 0

for i in range(20) :
  print(*d[i])

2
10 10
12 12
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
1 1 1 1 1 1 1 1 1 0 1 0 1 1 1 1 1 1 1 1
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0
0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0

In [36]:
# 6097번
# 격자판의 세로(h), 가로(w), 막대의 개수(n), 각 막대의 길이(l), 막대를 놓는 방향(d:가로는 0, 세로는 1)과
# 막대를 놓는 막대의 가장 왼쪽 또는 위쪽의 위치(x, y)가 주어질 때, 격자판을 채운 막대의 모양을 출력하기

h, w = map(int, input().split())

m = []
for i in range(h + 1) :
  m.append([])

  for j in range(w + 1) :
    m[i].append(0)

n = int(input())

for i in range(n) :
  l, d, x, y = input().split()

  if int(d) == 0 :
    for j in range(int(l)) :
      m[int(x)][int(y) + j] = 1

  else :
    for j in range(int(l)) :
      m[int(x) + j][int(y)] = 1

for i in range(1, h + 1) :
  for j in range(1, w + 1) :
    print(m[i][j], end=' ')

  print()

5 5
3
2 0 1 1
3 1 2 3
4 1 2 5
1 1 0 0 0
0 0 1 0 1
0 0 1 0 1
0 0 1 0 1
0 0 0 0 1

In [38]:
# 6098번
# 미로 상자의 구조가 0(갈 수 있는 곳), 1(벽 또는 장애물)로 주어지고,
# 먹이가 2로 주어질 때, 성실한 개미의 이동 경로를 예상하기

m = []

for i in range(12) :
  m.append([])

  for j in range(12) :
    m[i].append(0)

for i in range(10) :
  a = input().split()

  for j in range(10) :
    m[i+1][j+1] = int(a[j])

x = 2
y = 2

while True :
  if m[x][y] == 0 : 
    m[x][y] = 9 

  elif m[x][y] == 2 : 
    m[x][y] = 9
    break

  if (m[x][y+1]==1 and m[x+1][y]==1) or (x==9 and y==9) : 
    break

  if m[x][y+1] != 1 :
    y += 1
  
  elif m[x+1][y] != 1 :
    x += 1

for i in range(1, 11) :

  for j in range(1, 11) :
    print(m[i][j], end=' ')

print()

1 1 1 1 1 1 1 1 1 1
1 0 0 1 1 1 0 0 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 0 0 1 0 1
1 0 0 0 0 1 0 1 0 1
1 0 0 0 0 1 2 1 0 1
1 0 0 0 0 1 0 0 0 1
1 0 0 0 0 0 0 0 0 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1 1 1 9 9 1 1 1 0 0 0 1 1 0 9 9 9 9 9 1 0 1 1 0 0 0 0 0 9 1 0 1 1 0 0 0 0 1 9 1 0 1 1 0 0 0 0 1 9 1 0 1 1 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1