<a href="https://colab.research.google.com/github/jelly12paw/Algorithm/blob/main/CodeUp/Python_%EA%B8%B0%EC%B4%88100%EC%A0%9C_6027_~_6062.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CodeUp Python 기초 100제
## 6027번 ~ 6062번 문제풀이

In [1]:
# 6027번
# 10진수를 입력받아 16진수(hexadecimal)로 출력하기(소문자)

a = int(input())

print('%x'%a)

55
37

In [2]:
# 6028번
# 10진수를 입력받아 16진수(hexadecimal)로 출력하기(대문자)

a = int(input())

print('%X'%a)

55
37

In [3]:
# 6029번
# 16진수를 입력받아 8진수(octal)로 출력하기

a = int(input(), 16)

print('%o' % a)

f
17

In [5]:
# 6030번
# 영문자 1개를 입력받아 10진수 유니코드(Unicode) 값으로 출력하기

n = ord(input())

print(n)

A
65

In [6]:
# 6031번
# 10진 정수 1개를 입력받아 유니코드 문자로 출력하기

c = int(input())

print(chr(c))

65
A

In [7]:
# 6032번
# 입력된 정수의 부호를 바꿔 출력하기

a = int(input())

print(-a)

-1
1

In [8]:
# 6033번
# 문자 1개를 입력받아 그 다음 문자를 출력하기

a = ord(input())

print(chr(a + 1))

a
b

In [9]:
# 6034번
# 정수 2개(a, b)를 입력받아 a에서 b를 뺀 차를 출력하기

a, b = map(int, input().split())

print(a - b)

123 -123
246

In [10]:
# 6035번
# 실수 2개(f1, f2)를 입력받아 곱을 출력하기

a, b = map(float, input().split())

print(a * b)

0.5 2.0
1.0

In [11]:
# 6036번
# 단어와 반복 횟수를 입력받아 여러 번 출력하기

a, b = input().split()

print(a * int(b))

love 3
lovelovelove

In [12]:
# 6037번
# 반복 횟수와 문장을 입력받아 여러 번 출력하기

a = int(input())
b = input()

print(a * b)

3
I love CS
I love CSI love CSI love CS

In [13]:
# 6038번
# 정수 2개(a, b)를 입력받아 a를 b번 곱한 거듭제곱을 출력하기

a, b = map(int, input().split())

print(a ** b)

2 10
1024

In [14]:
# 6039번
# 실수 2개(f1, f2)를 입력받아 f1을 f2번 거듭제곱한 값을 출력하기

f1, f2 = map(float, input().split())

print(f1 ** f2)

4.0 2.0
16.0

In [15]:
# 6040번
# 정수 2개(a, b) 를 입력받아 a를 b로 나눈 몫을 출력하기

a, b = map(int, input().split())

print(a // b)

10 3
3

In [16]:
# 6041번
# 정수 2개(a, b) 를 입력받아 a를 b로 나눈 나머지를 출력하기

a, b = map(int, input().split())

print(a % b)

10 3
1

In [17]:
# 6042번
# 실수 1개를 입력받아 소숫점 이하 두 번째 자리까지의 정확도로 반올림한 값을 출력하기

a = float(input())

print(format(a, '.2f'))

3.141592
3.14

In [18]:
# 6043번
# 실수 2개(f1, f2)를 입력받아 f1 을 f2 로 나눈 값을 출력하기 
# 이 때 소숫점 넷째자리에서 반올림하여 무조건 소숫점 셋째 자리까지 출력하기

f1, f2 = map(float, input().split())

print(format(f1 / f2, '.3f'))

10.0 3.0
3.333

In [21]:
# 6044번
# 정수 2개(a, b)를 입력받아 합, 차, 곱, 몫, 나머지, 나눈 값을 자동으로 계산하기

a, b = map(int, input().split())

print('합 :', a + b)
print('차 :', a - b)
print('곱 :', a * b)
print('몫 :', a // b)
print('나머지 :', a % b)
print('나누기 :', format(a / b, '.2f'))

10 3
합 : 13
차 : 7
곱 : 30
몫 : 3
나머지 : 1
나누기 : 3.33

In [24]:
# 6045번
# 정수 3개를 입력받아 합과 평균을 출력하기

a, b, c = map(int, input().split())

print(a + b + c, format((a + b + c) / 3, '.2f'))

1 2 3
6 2.00

In [25]:
# 6046번
# 정수 1개를 입력받아 2배 곱해 출력하기

a = int(input())

print(a << 1)

1024
2048

In [26]:
# 6047번
# 정수 2개(a, b)를 입력받아 a를 2의 b승 배 곱한 값으로 출력하기

a, b = map(int, input().split())

print(a << b)

1 3
8

In [27]:
# 6048번
# 두 정수(a, b)를 입력받아 a가 b보다 작으면 True, a가 b보다 크거나 같으면 False 를 출력하기

a, b = map(int, input().split())

if a < b :
  print('True')
  
else :
  print('False')

1 9
True

In [28]:
# 6049번
# 두 정수(a, b)를 입력받아 a와 b의 값이 같으면 True, 같지 않으면 False 를 출력하기

a, b = map(int, input().split())

if a == b :
  print('True')
  
else :
  print('False')

0 0
True

In [29]:
# 6050번
# 두 정수(a, b)를 입력받아 b의 값이 a의 값 보다 크거나 같으면 True, 같지 않으면 False를 출력하기

a, b = map(int, input().split())

if a <= b :
  print('True')
  
else :
  print('False')

0 -1
False

In [31]:
# 6051번
# 두 정수(a, b)를 입력받아 a의 값이 b의 값과 서로 다르면 True, 같으면 False 를 출력하기

a, b = map(int, input().split())

if a != b :
  print('True')
  
else :
  print('False')

0 1
True

In [32]:
# 6052번
# 정수가 입력되었을 때, True/False 로 평가해주는 프로그램을 작성하기

a = int(input())

print(bool(a))

0
False

In [33]:
# 6053번
# 정수값이 입력될 때, bool 값을 반대로 출력하는 프로그램을 작성하기

a = int(input())

print(bool(not a))

1
False

In [34]:
# 6054번
# 2개의 정수값이 입력될 때, bool 값이 모두 True 일 때에만 True 를 출력하기

a, b = map(int, input().split())

print(bool(a and b))

1 1
True

In [36]:
# 6055번
# 2개의 정수값이 입력될 때, bool 값이 하나라도 True 일 때 True 를 출력하기

a, b = map(int, input().split())

print(bool(a or b))

1 0
True

In [40]:
# 6056번
# 2개의 정수값이 입력될 때, bool 값(True/False) 이 서로 다를 때에만 True 를 출력하기

a, b = map(int, input().split())
a = bool(a)
b = bool(b)

print(a != b)

1 1
False

In [41]:
# 6057번
# 2개의 정수값이 입력될 때, bool 값(True/False) 이 서로 같을 때에만 True 를 출력하기

a, b = map(int, input().split())
a = bool(a)
b = bool(b)

print(a == b)

1 1
True

In [44]:
# 6058번
# 2개의 정수값이 입력될 때, bool 값(True/False) 이 모두 False 일 때에만 True 를 출력하기

a, b = map(int, input().split())
a = bool(a)
b = bool(b)

print(not (a or b))

0 0
True

In [45]:
# 6059번
# 입력 된 정수를 비트단위로 참/거짓을 바꾼 후 정수로 출력하기

a = int(input())

print(~ a)

2
-3

In [46]:
# 6060번
# 입력된 정수 두 개를 비트단위로 and 연산한 후 그 결과를 정수로 출력하기

a, b = map(int, input().split())

print(a & b)

3 5
1

In [47]:
# 6061번
# 입력된 정수 두 개를 비트단위로 or 연산한 후 그 결과를 정수로 출력하기

a, b = map(int, input().split())

print(a | b)

3 5
7

In [48]:
# 6062번
# 입력된 정수 두 개를 비트단위로 xor 연산한 후 그 결과를 정수로 출력하기

a, b = map(int, input().split())

print(a ^ b)

3 5
6