<a href="https://colab.research.google.com/github/jelly12paw/Algorithm/blob/main/BAEKJOON/%EB%8B%A8%EA%B3%84%EB%B3%84%EB%A1%9C_%ED%92%80%EC%96%B4%EB%B3%B4%EA%B8%B0_1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BAEKJOON 단계별로 풀어보기

### 1차원 배열

In [14]:
# 10818
# N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.

a = int(input())
num = list(map(int, input().split()))

print(min(num), max(num))

5
20 10 35 30 7
7 35

In [22]:
# 2562
# 9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.

num = []
for i in range(9) :

  num.append(int(input()))
  max_index = num.index(max(num)) + 1

print(f'{max(num)}\n{max_index}')

3
29
38
12
57
74
40
85
61
85
8

In [35]:
# 2577
# 세 개의 자연수 A, B, C가 주어질 때 A × B × C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

A = int(input())
B = int(input())
C = int(input())

total = str(A * B * C)

for i in range(10) :
  print(total.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [6]:
# 3052
# 수 10개를 입력받은 뒤, 이를 42로 나눈 나머지를 구한다. 그 다음 서로 다른 값이 몇 개 있는지 출력하는 프로그램을 작성하시오.

na = []

for i in range(10) :
  a = int(input())
  b = a % 42
  na.append(b)

print(len(set(na)))

1
2
3
4
5
6
7
8
9
10
10

In [14]:
# 1546
# 모든 점수를 점수/M*100으로 고친 후 새로운 평균을 구하는 프로그램을 작성하시오.

a = int(input())
score = []
score_num = list(map(int, input().split()))
score_max = max(score_num)

for i in score_num :
  score.append(i / score_max * 100)

print(sum(score) / a)

3
40 80 60
75.0

In [17]:
# 8958
# OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.

a = int(input())

for i in range(a) :
  ox = list(input())
  cnt = 0
  sum_cnt = 0

  for o in ox :
    if o == 'O' :
      cnt += 1
      sum_cnt += cnt
    
    else :
      cnt = 0

  print(sum_cnt)

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

In [24]:
# 4344
# 각 케이스마다 한 줄씩 평균을 넘는 학생들의 비율을 반올림하여 소수점 셋째 자리까지 출력한다.

a = int(input())

for i in range(1, a + 1) :
  num = list(map(int, input().split()))
  num_mean = sum(num[1:]) / num[0]
  cnt = 0

  for o in num[1:] :
    if o > num_mean :
      cnt += 1

  stu = (cnt / num[0]) * 100
  print('%.3f' %stu + '%')

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%