<a href="https://colab.research.google.com/github/jelly12paw/Algorithm/blob/main/BAEKJOON/6.%20%EB%8B%A8%EA%B3%84%EB%B3%84%EB%A1%9C_%ED%92%80%EC%96%B4%EB%B3%B4%EA%B8%B0_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BAEKJOON 단계별로 풀어보기

### 문자열

In [1]:
# 11654
# 알파벳 소문자, 대문자, 숫자 0-9중 하나가 주어졌을 때, 주어진 글자의 아스키 코드값을 출력하는 프로그램을 작성하시오.

a = input()

print(ord(a))

A
65

In [10]:
# 11720
# N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.

a = input()
b = input()

sum = 0
for i in b :
  sum += int(i)

print(sum)

11
10987654321
46

In [16]:
# 10809
# 알파벳 소문자로만 이루어진 단어 S가 주어진다. 각각의 알파벳에 대해서, 단어에 포함되어 있는 경우에는 처음 등장하는 위치를, 포함되어 있지 않은 경우에는 -1을 출력하는 프로그램을 작성하시오.

S = 'abcdefghijklmnopqrstuvwxyz'
a = input()

for i in S :
  if i in a :
    print(a.index(i), end=' ')

  else : 
    print(-1, end=' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

In [25]:
# 2675
# 문자열 S를 입력받은 후에, 각 문자를 R번 반복해 새 문자열 P를 만든 후 출력하는 프로그램을 작성하시오.

S = int(input())

for i in range(S) :
  a, b = input().split()

  for o in b :
    o = o * int(a)

    print(o, end='')
  print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

In [33]:
# 1157
# 알파벳 대소문자로 된 단어가 주어지면, 이 단어에서 가장 많이 사용된 알파벳이 무엇인지 알아내는 프로그램을 작성하시오. 단, 대문자와 소문자를 구분하지 않는다.

a = input().upper()
a_list = list(set(a))
cnt = []

for i in a_list :
  a_cnt = a.count(i)
  cnt.append(a_cnt)

if cnt.count(max(cnt)) >= 2 :
  print('?')

else :
  print(a_list[(cnt.index(max(cnt)))])

Mississipi
?

In [6]:
# 1152

In [7]:
# 2908

In [8]:
# 5622

In [9]:
# 2941

In [ ]:
# 1316