<a href="https://colab.research.google.com/github/jelly12paw/Algorithm/blob/main/BAEKJOON/%EB%8B%A8%EA%B3%84%EB%B3%84%EB%A1%9C_%ED%92%80%EC%96%B4%EB%B3%B4%EA%B8%B0_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BAEKJOON 단계별로 풀어보기

### 반복문

In [15]:
# 2739
# N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오.

a = int(input())

for i in range(1, 10) :
  print('{} * {} = {}'.format(a, i, a * i))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [16]:
# 10950
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

num = int(input())

for i in range(num) :

  a, b = map(int, input().split())
  
  print(a + b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [20]:
# 8393
# n이 주어졌을 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

a = int(input())
sum = 0

for i in range(1, a + 1) :
  sum += i

print(sum)

3
6

In [2]:
# 15552
# 첫 줄에 테스트케이스의 개수 T가 주어진다. T는 최대 1,000,000이다. 
# 다음 T줄에는 각각 두 정수 A와 B가 주어진다. A와 B는 1 이상, 1,000 이하이다.
# 코랩에서는 Type Error발생하나 채점 상 정답 코드

import sys

a = int(sys.stdin.readline())

for i in range(a) :
  x, y = map(int, sys.stdin.readline().split())
  print(x + y)

ValueError: ignored

In [3]:
# 2741
# 자연수 N이 주어졌을 때, 1부터 N까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

a = int(input())

for i in range(1, a + 1) :
  print(i)

5
1
2
3
4
5

In [8]:
# 2742
# 자연수 N이 주어졌을 때, N부터 1까지 한 줄에 하나씩 출력하는 프로그램을 작성하시오.

a = int(input())

for i in range(a, 0, -1) :
  print(i)

5
5
4
3
2
1

In [9]:
# 11021
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

a = int(input())

for i in range(1, a + 1) :
  x, y = map(int, input().split())

  print('Case #{}: {}'.format(i, x + y))

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 3
Case #5: 8

In [10]:
# 11022
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

a = int(input())

for i in range(1, a + 1) :
  x, y = map(int, input().split())

  print('Case #{}: {} + {} = {}'.format(i, x, y, x + y))

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

In [11]:
# 2438
# 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제

star = int(input())

for i in range(1, star + 1) :
  i *= '*'
  
  print(i)

5
*
**
***
****
*****

In [14]:
# 2439
# 첫째 줄에는 별 1개, 둘째 줄에는 별 2개, N번째 줄에는 별 N개를 찍는 문제
# 하지만, 오른쪽을 기준으로 정렬한 별(예제 참고)을 출력하시오.

star = int(input())

for i in range(1, star + 1) :
  
  print(' ' * (star - i) + i * '*')

5
    *
   **
  ***
 ****
*****

In [18]:
# 10871
# 정수 N개로 이루어진 수열 A와 정수 X가 주어진다. 이때, A에서 X보다 작은 수를 모두 출력하는 프로그램을 작성하시오.

a, b = map(int, input().split())
num = list(map(int, input().split()))

for i in range(a) :
  if num[i] < b :
    print(num[i], end=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [25]:
# 10952
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

while True :
  a , b = map(int, input().split())

  if a == 0 and b == 0 :
    break
  
  else :
    print(a + b)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

In [28]:
# 10951
# 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

try :

  while True :
    a , b = map(int, input().split())
    print(a + b)

except :
    exit()

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
q

In [6]:
# 1110
# 첫째 줄에 N이 주어진다. N은 0보다 크거나 같고, 99보다 작거나 같은 정수이다.
# 첫째 줄에 N의 사이클 길이를 출력한다.
# 채점 상 런타임에러 코드

a = input()
num = a
cnt = 0

while True :
  if len(a) == 1 :
      num = 0 + int(a)
  a_add = str(int(a[0]) + int(a[1]))
  a = a[-1] + a_add[-1]
  cnt += 1
     
  if a == num :
    print(cnt)
    break

55
3

In [8]:
# 1110
# 첫째 줄에 N이 주어진다. N은 0보다 크거나 같고, 99보다 작거나 같은 정수이다.
# 첫째 줄에 N의 사이클 길이를 출력한다.
# 채점 상 정답 코드

a = int(input())
stop_a = a
cnt = 0

while True :
  x = stop_a // 10
  y = stop_a % 10
  z = (x + y) % 10
  stop_a = (y * 10) + z
  cnt += 1

  if a == stop_a :
    break

print(cnt)

55
3

In [10]:
# 10872
# 0보다 크거나 같은 정수 N이 주어진다. 이때, N!을 출력하는 프로그램을 작성하시오.

a = int(input())
mul = 1

for i in range(1, a + 1) :
  mul *= i

print(mul)

10
3628800